@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300;1,500&family=Yomogi&display=swap');

.squad-card {
  font-family: 'Exo', sans-serif;
  background-color: rgba(255, 0, 33, 0.3);
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid red;
  box-shadow: 2px 3px grey;
  align-items: center;
  border-radius: 30px;
  margin: auto;
}

.squad-card .card-body {
  /* display: flex; */

  & img {
    max-width: 100px;
  }

  & .squad-card-buttons {
    width: 25%
  }

  & .squad-card-buttons {
    display: flex;
    width: auto;
    justify-content: start;
    font-weight: bold;

    & button {
      padding: 15px;
      font-size: 1rem;

      &:hover {
        transform: translateY(-2px);
        transition: 0.3s ease-in-out;
        box-shadow: 2px 2px 3px black;
      }
    }
    & .delete-squad-btn {
      margin: 5px;
      font-weight: bold;
      background-color: rgba(232, 11, 55, 0.8);
      box-shadow: 2px 2px 1px rgba(20, 30, 10, 0.3);
    }

    & .add-to-squad-btn {
      margin: 5px;
      background-color: rgba(32, 112, 55, 0.8);
      font-weight: bold;
      color: white;
      box-shadow: 2px 2px 1px rgba(20, 30, 10, 0.3);
    }

    & .visit-squad-btn {
      margin: 5px;
      background-color: rgba(22, 11, 155, 0.8);
      color: white;
      font-weight: bold;
      box-shadow: 2px 2px 1px rgba(20, 30, 10, 0.3);
    }
  }
}
