@import '~bootstrap/scss/bootstrap';
@import './Components/Index/IndexAllPokemon.scss';
@import './Components/PokemonCard/PokemonCardStyle.scss';
@import './Components/SquadCard/SquadCardStyle.scss';
@import './Components/Show/Show.scss';
@import './Components/Header/HeaderStyle.scss';

main {
  margin-top: 50px;
}


.hero {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -100;
    opacity: 0.3;
}

.hero::before {
      content: "";
      background-image: url('./images/thimo-pedersen-dip9IIwUK6w-unsplash.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}
