.d-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .d-grid {
    justify-content: center;
    & .card {
      margin: 0 auto 30px;
    }
  }
}
